@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent-color: #333333;
}

[data-theme='dark'], .dark {
  --background: #000000;
  --foreground: #ffffff;
  --accent-color: #cccccc;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent-color);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  letter-spacing: -0.05em;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
